#Fondo{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    
}
#Container{
 
    margin-left: 500px;
    height: 800px;
    width: 1000px;
    position: absolute;
    background: white;
    margin-top: 60px;
    
    

}
@font-face{
    font-family: Bad;
    src: url(../Image/Oswald-Bold.ttf)
        
}
header{
    height: 150px;
    width: 1000px;
    
}
nav{
    height: 100px;
    width: 1000px;
    
}
#Uno{
    float: left;
    height: 150px;
    width: 150px;

}
#Dos{
    float: left;
    height: 150px;
    width: 850px;
    

}
h1{
    font-size: 40px;
    text-align: center;
    
    font-family: Bad;
    
}
.b{
    float: left;
    width: 250px;
    font-family: Bad;
    height: 100px;
    background: blue;

}
.bt{
    color:black;
    background: blue;
    font-family: Bad;
    border: none;
    width: 250px;
    height: 100px;
   
   
}
#bienvenida{
   
    color: red;
    font-family: Bad;
    margin-top: 200px
   
    
}
#buscar{
    border-color: lightgreen;
    text-align: center;
    width: 700px;
    font-family: Bad;
    margin-left: 20px
    
    

}
#table1{
    margin: 0 auto;
}
.t{
    border: black 1px solid;
    width: 150px;
    font-family: Bad;
}
.table{
    margin: 0 auto;
    background: crimson
}
#clientes,#venta,#productos{
    display: none;
}